<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <pages validateRequest="false" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Minimalist notepad ASPX notes" stopProcessing="true">
          <match url="^([A-Za-z0-9_-]+)$" />
          <action type="Rewrite" url="index.aspx?note={R:1}" appendQueryString="true" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <add value="index.aspx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add name="X-Robots-Tag" value="noindex, nofollow" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
